#!/usr/bin/env bash

if [ "{{ DB_HOST }}" == "localhost" ]; then
   /etc/init.d/postgresql start
fi

# iRODS setup
/var/lib/irods/packaging/setup_irods.sh < {{ ANSWERS_PATH }}

if [ "$?" == "0" ]; then
    echo "iRODS installed!"
else
    echo "Failed to install iRODS..."
    exit 1
fi
